!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.title
      link(rel='stylesheet', href='/css/bootstrap.css')
      style body { padding-top: 60px; }
      link(rel='stylesheet', href='/css/bootstrap-responsive.css')
      link(rel='stylesheet', href='/css/main.css')
      script(src='/js/jade.runtime.js')
      script(src='/js/templates.js')

  body
    header.navbar.navbar-fixed-top: div.navbar-inner: div.container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#')= locals.name
      .nav-collapse: ul.nav
        li: a(href='#') Home
        li: a(href='#about') About

    div#content.container
      block content
        h1 Layout for daemon.co.za 
        p If you can see this, something went terribly wrong 

      footer: div.inner
        block footer
          p &copy; #{ new Date().getFullYear() } #{ locals.author }

    script(src='/js/jquery-1.7.2.min.js') 
    script(src='/js/underscore-min.js') 
    script(src='/js/backbone-min.js') 
    script(src='/js/bootstrap.min.js')
